.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-container {
    background-color: #ECE9E8;
    width: 160px;
    height: 100%;
}

.left-menu {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: none;
    width: 100%;
    font-size: 18px;
    height: 60px;
    background-color: #DEDDDD;
}

.left-menu-active {
    background-color: #C8C6C6;
}

.mainCont {
    display: none;
}

.mainCont.selected {
    display: block;
}

/* http接口页面start */
.right-container {
    position: relative;
    flex-grow: 1;
    background-color: #F5F5F5;
    padding: 20px;
    padding-top: 10px;
}

.act-buttom {
    position: absolute;
    bottom: 15px;
    right: 20px;
}
.http-list{
    border: 1px solid #ECE9E8;
    height: 40%;
    overflow-y: scroll;
}

.http-message{
    border: 1px solid #ECE9E8;
    height: 40%;
    overflow-y: scroll;
}

.http-status-stop{
    background-color: #6e736e;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 22px;
    right: 105px;
}

.http-status-start{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(8, 255, 8);
    position: absolute;
    bottom: 22px;
    right: 105px;
    animation: start 2s infinite step-start;
}

@keyframes start {
    0% {
        background-color: rgb(8, 255, 8);
    }

    33% {
        background-color: #6e736e;
    }

    66% {
        background-color: rgb(8, 255, 8);
    }

    100% {
        background-color: #6e736e;
    }
}
/* http接口页面end */
